{% load static %}
<html>
<head>
<title>Auth Privacy Chain</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><span>AuthPrivacyChain: A Blockchain-Based
Access Control Framework With
Privacy Protection in Cloud</span><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
          <ul>
           <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'Login' %}">Data Owner</a></li>
	  <li><a href="{% url 'Login' %}">Data Users</a></li>
      <li><a href="{% url 'Signup' %}">Data User Signup Here</a></li>
     
   </ul>
          </ul>
        </div>
        <div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="915" height="286" alt="" /></div>

		{{ data }}

       <p align="justify"><font size="3" style="font-family: Comic Sans MS" color="black">Abstract-Cloud is a computing model that provides sharing and supports ubiquitous on-demand
access computing, providing new data processing and services for many industries, signicantly reducing
user computing and storage costs, and improving ease of use. With the development of cloud-scale and
intensication, cloud security has become an essential issue in the eld of cloud computing. Access control
is one of the critical security technologies for protecting sensitive data stored in the cloud by enterprises and
individuals.</p>

<p align="justify"><font size="3" style="font-family: Comic Sans MS" color="black">
 Since the centralized access control mechanism is adopted in the cloud, the sensitive data in the
cloud are easy to be tampered with or leaked by hackers or cloud internal managers. To address this issue,
we propose a blockchain-based access control framework with privacy protection called AuthPrivacyChain.
Firstly, we use the account address of the node in blockchain as the identity, and at the same time, redene
the access control permission of data for the cloud, which is encrypted and stored in blockchain. After that,
we design processes of access control, authorization, and authorization revocation in AuthPrivacyChain.
 </p>
 
 
  </body>
</html>
